h1{
	color: blue;
}

h2{
	color: red;
}

h3{
	color: rgb(0,255,0);
}

p{
	text-align: justify;
	font-size: 30px;
}

div{
	width: 100%; /*Largura*/
	height: 100px; /*Altura*/
	background: #ffff00; /*Amarelo*/
}

div p{
	float: right;
}
